# Frontend
node_modules/
dist/
.env
.env.local
.env.*.local
*.log
.DS_Store

# Backend
target/
*.class
*.jar
.idea/
*.iml
*.iws
*.ipr
out/
.gradle/
build/

# IDE
.vscode/
.settings/
.classpath
.project